<form [formGroup]="form">
    <div class= "form-group">
        <label for = "oldPassword">old Password</label>
        <input formControlName="oldPassword" 
            id="oldPassword" 
            type="password" 
            class="form-control input-width">
        <div *ngIf = "oldPassword.touched && oldPassword.invalid" class = "alert alert-danger">
            <div *ngIf = "oldPassword.errors.required">
                Old Password Required
            </div>
            <div *ngIf = "oldPassword.errors.invalidOldPassword">
                Invalid Old Password 
            </div>
        </div>
    </div>
    <div class= "form-group">
        <label for = "newPassword">New Password</label>
        <input formControlName="newPassword" id ="newPassword" 
        type="password" 
        class="form-control input-width">
        <div *ngIf = "newPassword.touched && newPassword.invalid" class = "alert alert-danger">
            <div *ngIf = "newPassword.errors.required">
                New Password Required
            </div>
        </div>
    </div>
    <div class= "form-group">
        <label for = "confirmPassword">Re-Enter Password</label>
        <input formControlName="confirmPassword" id ="confirmPassword" 
        type="password" 
        class="form-control input-width">
        <div *ngIf = "confirmPassword.touched && confirmPassword.invalid" class = "alert alert-danger">
            <div *ngIf = "confirmPassword.errors.required">
                Confirm Password Required
            </div>
        </div>
        <div *ngIf = "confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch" class = "alert alert-danger">
            Password mismatch!! 
        </div>
    </div>
    <button class = "btn btn-primary">Change Password</button>
</form>