<div class = "customClass">
    <h2>
        <span class = "label label-info">
            {{title}}
        </span>
    </h2>
    <h5>
        <span class = "label label-success">
            RATING COMPONENT
        </span>
    </h5>
    <app-rating [isMaxScore] = "5" (ratingChanged) = "onRatingChanged($event)"></app-rating>
    <h5>
        <span class = "label label-success">
            STAR COMPONENT
        </span>
    </h5>
    <app-star></app-star>
</div>
<div>
<br>
<span class="p-input-icon-right">
    <i class="pi pi-spin pi-spinner"></i>
    <input type="text" pInputText [(ngModel)]="inputTyped" class="p-inputtext-lg" placeholder="Enter Text here..."/>        
</span> 
<br>
<br>
{{inputTyped | titleCase }}
</div>
<div>
    <app-like [isActive] = "likeComponentEnum.isLiked" 
    [likesCount] = "likeComponentEnum.likesCount" 
    (onClickLike) = "onlikeClicked($event)"> 
    </app-like>
</div>