<form>
    <label >Dynamic added list on user type </label>
    <input type="text" class = "form-control input-width"
    (keyup.enter) = "addTopic(topic)" #topic/>
    <div>
        <!-- *FormArray inside FormGroup fetch must be like below  -->
        <ul class="list-group custom-width">
            <li 
            *ngFor = "let topic of topics['controls']"
            [title] = topic.value
            class="list-group-item" (click) = "removeElement(topic)" @fade >
            {{ topic.value }}
        </li>
        </ul>        
    </div>
</form>